[submodule "public"]
	path = public
	url = https://github.com/sws-admin/sws-admin.github.io.git
	branch = master
[submodule "sws-admin.github.io"]
	path = sws-admin.github.io
	url = https://github.com/sws-admin/sws-admin.github.io.git
